
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
	--color-hover-menu:#FE8F01;
}
body{
	font-size: 14px;
	font-family:'Open Sans', sans-serif;
}
header{
	background-color: #3d3d3d;
	padding: 10px 0;
}

#aboutus{
text-align: center;	
color: #FFFFFF
}
.simple{ 
background-color: #494949;
text-align: center;	
	}

#counter{
	background-color: #010101 ;
	padding-bottom: 7%;
	padding-top: 7%;
	align-content: center;
	color: #fff;
	text-align: center;
}

footer{
	background-color: #333333;
	color: #bababa;
	padding: 15px 0;
	text-align: center;
}

